$red: #ff4a53;
$orange: #fc7447;
$yellow: #fcd555;
$green: #97f568;
$blue: #6483ff;
$purple: #8744e4;

:export {
  胭脂红: $red;
  秋叶褐: $orange;
  杏仁黄: $yellow;
  青草绿: $green;
  海天蓝: $blue;
  葛巾紫: $purple;
}